.about-wrapper {
    

    margin-top: 30px;


    h2 {
        font-size: 40px;
        text-decoration: underline 3px #f4bf2b;
        color: rgb(54, 54, 54);
        margin-bottom: 30px;
   


    }

    .long-copy {
        margin: 0 auto;
        margin-bottom: 30px;
        line-height: 145%;
        width: 70%;
        color: rgb(54, 54, 54);
 


    }

    .about-card-container {
        display: flex;
        flex-direction: row;
        gap: 40px;
        padding: 80px 0;




        .cards {

            width: 33.33%;

            h3 {
                text-decoration: underline 3px #f4bf2b;
                margin-bottom: 30px;
                color:rgb(54, 54, 54);
            }

            img {
                width: 104px;
            }

            p {
                margin: 0 auto;
                margin-top: 40px;
                width: 70%;
                color: rgb(54, 54, 54);;


               
            }

           



            
        }

    }
}